[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:A-H-Nguyen/nvim.git
[submodule ".dockerfiles"]
	path = .dockerfiles
	url = git@github.com:A-H-Nguyen/.dockerfiles.git
[submodule "/home/andrew/.dotfiles/.tmux/plugins/tpm"]
	path = /home/andrew/.dotfiles/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
